<div class="card">
    <img src="https://media.istockphoto.com/id/1141208525/photo/yellow-open-backpack.jpg?s=612x612&w=0&k=20&c=k0NOqN9FnIGdkaUNx6-fMIBG2IfWwLT_AbDVefqJT_0=" alt="Denim Jeans" style="width:100%">
    <h2>Kendrick's Fishing Backpack</h2>
    <p class="price">$19.99</p>
    <p>Description: This gear made fishing very effective.blah blah blah blahblah blah blah blahblah blah blah blahblah blah blah blah

    </p>
    
    <ul>
      <h2>Items in backpack </h2>
      <li>Fishing Net</li>
      <li>Fishing Hook</li>
      <li>Fishing bait</li>
    </ul>
    <p><button>Add to Cart</button></p>
  </div>
  