<div class="container-fluid px-3">
    <div class="row">
        <div class="col">
             <app-search-backpacks-bar (onSearchBackpacks)="searchBackpacks($event)"></app-search-backpacks-bar>
        </div>
    </div>
    
    <div class="row my-3"></div>
    <div class="row" >
        <div class="card" *ngFor="let backpack of backpacks" style="width: 20%; margin: 1%;">
            <img src="{{backpack.imageURL}}" class="card-img-top" alt="{{backpack.name}}" height="200" style="margin-top: 3%; margin-bottom: 3%">
                <a routerLink="/backpacks/{{backpack.id}}" class="h6 card-title product-title">{{backpack.name}}</a>
                <div class="h6 manufacturer-name mb-0">{{backpack.activity}}</div>
                <div class="h6 manufacturer-name mb-0">{{backpack.location}}</div><br>
                <div class="h6 manufacturer-name mb-0" style="color: gray">{{backpack.description}}</div><br>
        </div>
        {{updateImages()}}
    </div>
</div>

